@model IEnumerable<FinalProject_16.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Task List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Row
        </th>
        <th>
            Task
        </th>
        <th>
            Start_Time
        </th>
        <th>
            End_Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Row_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Row_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Row_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Row_ID })
        </td>
    </tr>
}

</table>


