@model ProjectRevision5.Models.Task

@{
    ViewBag.Title = "Insert";
    int RowID = ViewBag.RowIDNumber;
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Task</legend>

        <h4>Row Number: @ViewBag.RowIDNumber</h4>
        @Html.Hidden("Row_ID", (object)RowID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Task_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Task_Name)
            @Html.ValidationMessageFor(model => model.Task_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start_Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Start_Time)
            @Html.ValidationMessageFor(model => model.Start_Time)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.End_Time)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.End_Time)
            @Html.ValidationMessageFor(model => model.End_Time)
        </div>

        <p>
            <input type="submit" value="Insert" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
